---

- name: upgrade | Drain node
  ansible.builtin.command: |-
    {{ bin_dir }}/kubectl drain {{ ansible_facts["hostname"] }}
    --ignore-daemonsets
    --delete-emptydir-data
    --disable-eviction
    --kubeconfig={{ kubeconfig_path }}
  register: kubectl_drain
  failed_when: kubectl_drain.rc != 0
  changed_when: kubectl_drain.rc != 0
  delegate_to: "{{ groups['k8s_control_plane'][0] }}"

- name: upgrade | Install kubeadm
  ansible.builtin.import_role:
    name: k8s_tools
  vars:
    kubelet_install: false
    kubectl_install: false

- name: upgrade | Gracefully stop kube-apiserver before etcd upgrade
  ansible.builtin.command: |-
    killall -s SIGTERM kube-apiserver
  register: stop_apiserver
  failed_when: stop_apiserver.rc not in [0, 1]
  changed_when: stop_apiserver.rc == 0
  when:
    inventory_hostname == groups['k8s_control_plane']

- name: upgrade | Wait for in-flight requests to complete
  ansible.builtin.pause:
    seconds: 20
  when:
    inventory_hostname == groups['k8s_control_plane']

- name: upgrade | Upgrade kubernetes
  ansible.builtin.command: |-
    {{ bin_dir }}/kubeadm upgrade apply -y {{ kubernetes_version }}
    --ignore-preflight-errors=all
  register: kubernetes_upgrade
  failed_when: kubernetes_upgrade.rc != 0
  changed_when: kubernetes_upgrade.rc != 0
  when:
    inventory_hostname == groups['k8s_control_plane'][0]

- name: upgrade | Upgrade kubernetes
  ansible.builtin.command: |-
    {{ bin_dir }}/kubeadm upgrade node
    --ignore-preflight-errors=all
  register: kubernetes_upgrade
  failed_when: kubernetes_upgrade.rc != 0
  changed_when: kubernetes_upgrade.rc != 0
  when:
    not inventory_hostname == groups['k8s_control_plane'][0]

- name: upgrade | Install kubeadm
  ansible.builtin.import_role:
    name: k8s_tools
  vars:
    install_kubeadm: false

- name: upgrade | Upgrade container_engine 
  ansible.builtin.import_role:
    name: container_engine
  when: container_engine_upgrade

- name: upgrade | Upgrade kube-vip
  ansible.builtin.import_role:
    name: kube-vip
  when: kube_vip_upgrade

- name: upgrade | Upgrade crictl
  ansible.builtin.import_role:
    name: crictl_upgrade

- name: upgrade | Force handlers to run now
  ansible.builtin.meta: flush_handlers

- name: upgrade | Node uncordon
  ansible.builtin.command: |-
    {{ bin_dir }}/kubectl uncordon {{ inventory_hostname }}
    --kubeconfig={{ kubeconfig_path }}
  register: kubectl_uncordon
  failed_when: kubectl_uncordon.rc != 0
  changed_when: kubectl_uncordon.rc != 0
  delegate_to: "{{ groups['k8s_control_plane'][0] }}"

- name: upgrade | Pause for 3 minutes
  ansible.builtin.pause:
    minutes: 3
