---
runtime-endpoint: {{ crictl_config_runtime_endpoint }}
image-endpoint: {{ crictl_config_image_endpoint }}
timeout: {{ crictl_config_timeout }}
debug: {{ crictl_config_debug }}
pull-image-on-create: {{ crictl_config_pull_image_on_create }}
