---
runtime-endpoint: {{ crictl_runtime_endpoints.get(container_engine_install[0], crictl_runtime_endpoints.containerd).runtime }}
image-endpoint: {{ crictl_runtime_endpoints.get(container_engine_install[0], crictl_runtime_endpoints.containerd).image }}
timeout: {{ crictl_config_timeout }}
debug: {{ crictl_config_debug }}
pull-image-on-create: {{ crictl_config_pull_image_on_create }}
